.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
.element-align-center{
    margin: auto;
}
.help-block{
    color: #ff0000;
    border-color: #ff0000;
}
.modal-open{
    padding-right: 0 !important;
}
.pagination{
    justify-content: center;
}
.input-checkbox{
    width: 20px;
}
#sortable1, #sortable2 {
    min-height: 400px;
    max-height: 400px;
    padding: 5px;
    overflow-y: auto;
}
#sortable1{
    border: 1px green solid;
}
#sortable2{
    border: 1px red solid;
}
.left, .right{
    padding: 10px;
    width: 50%;
    position: relative;
}
.left{
    float: left;
}
.right{
    float: right;
}
.drag-drop-item{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    font-weight: bold;
}
.left .drag-drop-item{
    border: 1px solid #00a65a;
    color: #00a65a;
}
.right .drag-drop-item{
    border: 1px solid #d32535;
    color: #d32535;
}
.drag-drop-header{
    margin: 5px;
}
